<div class="vertical textField">
    <label for="{{name}}" class="label">{{helper}}</label>
    <input
        type="{{type}}"
        id="{{id}}"
        name="{{name}}"
        placeholder="{{helper}}"
        required
        class="input"
    />
    <div class="error-message">Ошибка</div>
</div>