<div class="textField">
    <label for="{{name}}">{{helper}}</label>
    <input
        type="{{type}}"
        id="{{id}}"
        name="{{name}}"
        placeholder="{{helper}}"
        required
    />
</div>